.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  gap: 1.25rem;
  width: 100%;
  max-width: 1200px;
  background-color: #fff8ed;
  border: 2px solid #c49a6c;
  border-radius: 10px;
  padding: 10px;
}

.dashboard-grid section {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}